@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.row{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

/* Hero Section */

.hero-section{
    height: 100vh;
    background: rgba(229, 84, 115, 15%);
}

.hero-section .text-content{
    margin: auto 0;
    width: 50%;
}

.hero-section .text-content h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 75px;
    color: #272727;
}

.hero-section .text-content p{
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    margin: 25px 0;
}

.hero-section .text-content button{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.hero-section .img{
    height: 100%;
    width: 50%;
}

.hero-section img{
    height: 100%;
    width: auto;
}

/* Featured Section */
.featured-section{
    margin: 100px 0;
}

.featured-section .header{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.featured-section .header .items{
    width: 500px;
}

.featured-section .header .items h1{
    font-weight: bold;
    font-size: 40px;
    color: #272727;
}

.featured-section .header .items p{
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    margin: 10px 0 40px 0;
}

.featured-section .img-grid{
    width: 100%;
}

.gap{
    gap: 24px;
}

.featured-section .img-grid .img{
    height: 420px;
    width: 355px;
    border-radius: 50% 50% 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.first-bacground{
    background: rgba(167, 33, 98, 15%);
}

.second-bacground{
    background: rgba(5, 151, 160, 15%);
}

.third-bacground{
    background: rgba(71, 125, 17, 15%);
}

.featured-section .img-grid .img img{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 240px;
}

.featured-section .img-grid p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
}

/* Special Service */
.special-service{
    margin: 100px 0;
}

.special-service .all-service{
    background: rgba(39, 39, 39, 5%);
    border-radius: 8px;
    padding: 40px 70px;
}

.special-service .all-service .service{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

/* Hot Deal */
.hot-deal{
    padding: 50px 0;
    background: rgba(229, 84, 115, 10%);
}

.hot-deal .alignment{
    align-items: center;
}

.hot-deal .text-content{
    text-align: center;
    width: 60%;
}

.hot-deal .text-content h1{
    font-weight: 900;
    font-size: 40px;
}

.hot-deal .text-content h1 span{
    color: #E55473;
}

.hot-deal .text-content p{
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    margin: 25px 0;
}

.hot-deal .text-content button{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.hot-deal .img-content{
    width: 40%;
    text-align: center;
}

/* Instagram */

.featured-section .insta-img-grid img{
    height: 300px;
    width: 267px;
    position: relative;
    display: flex;
    justify-content: center;
}

/* Contact */

.contact{
    background-color: #FCF2F5;
    margin-bottom: 100px;
}

.contact .row{
    align-items: center;
}

.contact .img-content{
    width: 60%;
}

.contact .img-content img{
    width: 100%;
    height: auto;
    border-radius: 0 200px 0 0;
}

.contact .text-content{
    width: 40%;
    height: 100%;
    padding-left: 30px;
}

.contact .text-content h1{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.contact .text-content .contact-details{
    margin-bottom: 40px;
}

.contact .text-content .contact-details .address{
    width: 50%;
    padding-right: 60px;
}

.contact .text-content .contact-details .address .shop-name{
    font-weight: 700;
    margin-bottom: 5px;
}

.contact .text-content .contact-details .contacts{
    width: 50%;
}

.contact .text-content .contact-details .contacts p{
    padding-bottom: 5px;
}

/* Subscription Form */
.subcription{
    margin-bottom: 100px;
}

.subcription .all-items{
    background: url('./assets/img/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.all-items .text-content{
    text-align: center;
}

.all-items h1{
    font-weight: bold;
    font-size: 40px;
    color: #272727;
}

.all-items p{
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    margin: 5px 0 25px;
}

.all-items form{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.all-items form input{
    width: 350px;
    padding: 10px 15px;
    border: none;
    margin-right: 10px;
    border-radius: 8px;
}

.all-items form button{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer{
    background: #000;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

footer .items{
    text-align: center;
    width: 40%;
}

footer .items .logo{
    display: flex;
    justify-content: center;
    color: #fff;
}

footer .items .logo .first{
    color: #E55473;
}

footer .peragraph{
    font-size: 18px;
    color: #ffffff;
    font-weight: 200;
    margin: 25px 0;
}

footer span{
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 40%);
}